.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(233, 233, 239);
}
.CreateNoteButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 3%;
  width: 30%;
  background-color: white;
  align-items: center;
  border-radius: 10px;
  margin-left: 8%;
}
